
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Правила</title>
</head>
<body>
    <div> 
        <h1>Правила</h1>
        <hr />
        @Html.ActionLink("Главная", "Index", "Home")
        @Html.ActionLink("6 из 45", "Game", "Home")
        @Html.ActionLink("Правила", "Rules", "Home")
        @Html.ActionLink("Баланс", "Index", "Balance")
        <hr />
    </div>
</body>
</html>
